{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Cuenta - Padel Arena {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="contact-container">
    <h2>Crear una Cuenta</h2>
    <p class="subtitle">Regístrate para reservar tu pista preferida.</p>
    
    <form method="POST">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn-submit">Registrarse</button>
    </form>
    
    <p class="auth-switch">
        ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>
    </p>
</div>
{% endblock %}
